body {
  background-color: rgb(223, 200, 158);
  color: #222;
  font-family: proxima, Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

div.header {
  font-family: Karma, serif;
}

div.line {
  background-color: #CCDEE5;
  display: block;
  height: 1px;
  width: 100%;
}

/* The names and menu sections to the left. */

body > #image {
  background: url('mandala.svg');
  background-position: center right -24vh;
  background-repeat: no-repeat;
  background-size: auto 100%;
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 36vw;
}

body > #names {
  font-size: 3.6vw;
  position: absolute;
  bottom: 7.2vw;
  left: 8.4vw;
}

body > #menu {
  font-size: 1.8vw;
  position: absolute;
  top: 7.2vw;
  left: 7.2vw;
}

body > #menu > a {
  color: #444;
  display: block;
  padding: 0.3vw 1.2vw;
  text-decoration: none;
}

body > #menu > a.active {
  color: black;
}

body > #menu > a:active,
body > #menu > a:hover {
  background-color: #CCDEE5;
}

/* General styling for the content section. */

body > #content {
  box-shadow: 0 0 2vw #888;
  float: right;
  overflow-y: scroll;
  height: 100vh;
  width: 36vw;
}

body > #content > div {
  text-align: center;
  width: 100%;
}

body > #content > div.block {
  background-color: white;
  box-sizing: border-box;
  padding: 4.8vw;
  width: 100%;
}

body > #content > div.block > div.header {
  font-size: 1.8vw;
  margin-bottom: 2.4vw;
}

/* The RSVP block, the first block in the content section. */

body > #content > #rsvp {
  background-color: #CCDEE5;
  background-image: url('rsvp.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body > #content > #rsvp > .location {
  font-size: 1.8vw;
  margin-bottom: 1.8vw;
}

body > #content > #rsvp > .dates {
  font-size: 1.2vw;
  margin-bottom: 1.8vw;
}

body > #content > #rsvp > .rsvp {
  border: 1px solid #222;
  border-radius: 0.6vw;
  color: #222;
  font-size: 1.2vw;
  margin: 0 auto 1.8vw;
  padding: 0.6vw 1.8vw;
  text-decoration: none;
  width: fit-content;
}

body > #content > #rsvp > .rsvp:active,
body > #content > #rsvp > .rsvp:hover {
  background-color: white;
}

body > #content > #rsvp > a.next {
  position: absolute;
  transform: translateX(-50%);
  bottom: 4vw;
  left: 50%;
}

body > #content > #rsvp > a.next > svg {
  height: 4vw;
  width: 4vw;
}

body > #content > #rsvp > a.next > svg > .icon {
  fill: #333;
}

body > #content > #rsvp > a.next:active > svg > .background,
body > #content > #rsvp > a.next:hover > svg > .background {
  fill: white;
}

/* The location block style. */

body > #content > #location > .information {
  margin-bottom: 1.2vw;
  text-align: left;
}

body > #content > #location > .information > .ad,
body > #content > #location > .information > .name {
  margin: 1.8vw 0;
}

body > #content > #location > .information > a {
  color: #444;
  display: block;
  padding: 0.3vw 0;
  text-decoration: none;
}

body > #content > #location > .information > a:active,
body > #content > #location > .information > a:hover {
  background-color: #CCDEE5;
}

body > #content > #location > .map-container {
  cursor: pointer;
}

body > #content > #location > .map-container > .map {
  border: 1px dashed #444;
  font-size: 1.2vw;
  line-height: 16vw;
  margin: 1.8vw auto 0;
  pointer-events: none;
  height: 16vw;
  width: 24vw;
}

/* The schedule block style. */

body > #content > #schedule > .divider {
  margin: 3.6vw 0 2.4vw;
  position: relative;
}

body > #content > #schedule > .divider > .day {
  background-color: white;
  font-size: 0.9vw;
  font-weight: bold;
  padding-right: 0.9vw;
  position: absolute;
  text-transform: uppercase;
  top: -0.45vw;
}

body > #content > #schedule > .event {
  display: flex;
  margin-bottom: 2.4vw;
  padding: 0 1.8vw;
}

body > #content > #schedule > .event:last-child {
  margin-bottom: 0;
}

body > #content > #schedule > .event > .time {
  flex: 3;
  font-size: 0.9vw;
  font-weight: bold;
  padding: 0.24vw 0.6vw 0 0;
}

body > #content > #schedule > .event > .time > .piece {
  display: inline-block;
}

body > #content > #schedule > .event > .information {
  flex: 5;
  text-align: left;
}

body > #content > #schedule > .event > .information > .title {
  font-size: 1.2vw;
  margin-bottom: 0.36vw;
}

body > #content > #schedule > .event > .information > .details {
  color: #444;
  font-size: 0.9vw;
}
