body {
  background-color: rgb(223, 200, 158);
  color: #222;
  font-family: proxima, Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

div.header {
  font-family: Karma, serif;
}

div.line {
  background-color: #D8E8F0;
  display: block;
  height: 1px;
  width: 100%;
}

/* The names section to the bottom left. */

body > div.names {
  font-size: 3.6vw;
  position: absolute;
  bottom: 7.2vw;
  left: 8.4vw;
}

/* General styling for the content section. */

body > .content {
  box-shadow: 0 0 2vw #888;
  float: right;
  overflow-y: scroll;
  height: 100vh;
  width: 36vw;
}

body > .content > div {
  text-align: center;
  width: 100%;
}

body > .content > div.block {
  background-color: white;
  box-sizing: border-box;
  padding: 4.8vw;
  width: 100%;
}

body > .content > div.block > div.header {
  font-size: 1.8vw;
  margin-bottom: 2.4vw;
}

/* The welcome block, the first block in the content section. */

body > .content > .welcome {
  background-color: #D8E8F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

body > .content > .welcome > .location {
  font-size: 1.8vw;
  margin-bottom: 1.8vw;
}

body > .content > .welcome > .dates {
  font-size: 1.2vw;
}

/* The schedule block, the second block in the content section. */

body > .content > .schedule > .divider {
  margin: 3.6vw 0 2.4vw;
  position: relative;
}

body > .content > .schedule > .divider > .day {
  background-color: white;
  font-size: 0.9vw;
  font-weight: bold;
  padding-right: 0.9vw;
  position: absolute;
  text-transform: uppercase;
  top: -0.45vw;
}

body > .content > .schedule > .event {
  display: flex;
  margin-bottom: 2.4vw;
  padding: 0 1.8vw;
}

body > .content > .schedule > .event:last-child {
  margin-bottom: 0;
}

body > .content > .schedule > .event > .time {
  flex: 3;
  font-size: 0.9vw;
  font-weight: bold;
  padding: 0.24vw 0.6vw 0 0;
}

body > .content > .schedule > .event > .time > .piece {
  display: inline-block;
}

body > .content > .schedule > .event > .information {
  flex: 5;
  text-align: left;
}

body > .content > .schedule > .event > .information > .title {
  font-size: 1.2vw;
  margin-bottom: 0.36vw;
}

body > .content > .schedule > .event > .information > .details {
  color: #444;
  font-size: 0.9vw;
}

/* The travel block, the third block in the content section. */

body > .content > .travel > .map {
  border: 1px dashed #444;
  font-size: 1.2vw;
  line-height: 16vw;
  margin: 0 auto;
  pointer-events: none;
  height: 16vw;
  width: 24vw;
}
