body {
  background: rgb(223, 200, 158);
  color: #222;
  font-family: proxima, Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

a.header, div.header {
  font-family: Karma, serif;
}

div.line {
  background-color: #CCDEE5;
  display: block;
  height: 1px;
  width: 100%;
}

/* The names and menu sections to the left. */

body > #image,
body > #clock > div {
  background-image: url('mandala.svg');
  background-position: center right -32vh;
  background-repeat: no-repeat;
  background-size: auto 96%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 36vw;
}

body > #image {
  background-image: url('mandala.svg');
  opacity: 0.6;
}

body > #names {
  font-size: 42px;
  position: absolute;
  bottom: 6vw;
  left: 7.2vw;
}

body > #menu {
  font-size: 24px;
  position: absolute;
  top: 6vw;
  left: 7.2vw;
}

body > #menu > a {
  color: #444;
  display: block;
  padding: 4px 12px 0;
  text-decoration: none;
}

body > #menu > a > div {
  display: inline-block;
  width: 20px;
}

body > #menu > a.active {
  color: #222;
}

body > #menu > a.active > div:after {
  content: "~";
  display: inline-block;
}

body > #menu > a:active {
  background-color: #CCDEE5;
}

/* General styling for the content section. */

body > #content {
  background-color: white;
  box-shadow: 0 0 18px #444;
  float: right;
  overflow-y: scroll;
  height: 100vh;
  width: 36vw;
}

body > #content > div {
  text-align: center;
  width: 100%;
}

body > #content > div.block {
  background-color: white;
  box-sizing: border-box;
  padding: 4.8vw;
  width: 100%;
}

body > #content > div.block > div.header {
  font-size: 27px;
  margin-bottom: 36px;
}

/* The RSVP block, the first block in the content section. */

body > #content > #rsvp {
  background-color: #CCDEE5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: relative;
}

body > #content > #rsvp > .portrait {
  background-image: url('DSC05408.JPG');
  background-repeat: no-repeat;
  background-size: 100% auto;
  box-shadow: inset 0 0 18px #000000;
  margin: 0 auto 27px;
  height: 18vw;
  width: 27vw;
}

body > #content > #rsvp > .location {
  font-size: 27px;
  margin-bottom: 9px;
}

body > #content > #rsvp > .dates {
  font-size: 18px;
  margin-bottom: 27px;
}

body > #content > #rsvp > .rsvp {
  background-color: indianred;
  border: 1px solid #800;
  border-radius: 9px;
  color: white;
  font-size: 18px;
  margin: 0 auto 27px;
  padding: 9px 27px;
  width: fit-content;
  text-decoration: none;
}

body > #content > #rsvp > .rsvp:active {
  border: 1px solid #400;
  background-color: #A44;
}

body > #content > #rsvp > #rough-border {
  background-image: url('border.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
}

/* The location block style. */

body > #content > #location > .information {
  margin-bottom: 27px;
  text-align: left;
}

body > #content > #location > .information > .name {
  margin: 27px 0;
}

body > #content > #location > .information > a.address > span {
  display: inline-block;
}

body > #content > #location > .information > a {
  color: #26a;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}

body > #content > #location > .information > a:active {
  background-color: #CCDEE5;
}

body > #content > #location > .map-container {
  cursor: pointer;
  display: block;
  position: relative;
}

body > #content > #location > .map-container > .map {
  background-image: url('hotel.png');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
  pointer-events: none;
  height: 16vw;
  width: 24vw;
}

body > #content > #location > .map-container > .map-shadow {
  box-shadow: inset 0 0 18px #888;
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 24vw;
}

/* The hotels block style. */

body > #content > #hotels > .information {
  text-align: left;
}

body > #content > #hotels > .information > .option {
  margin: 27px 0 9px;
}

body > #content > #hotels > .information a {
  color: #26a;
  display: block;
  padding: 4px 0;
  text-decoration: none;
}

body > #content > #hotels > .information a:active {
  background-color: #CCDEE5;
}

body > #content > #hotels > .information > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > #content > #hotels > .information > ul > li > a:before {
  color: #222;
  content: "~";
  font-family: Karma, serif;
  margin: 0 4px 0 8px;
}

/* The schedule block style. */

body > #content > #schedule > .divider {
  margin: 48px 0 32px;
  position: relative;
}

body > #content > #schedule > .divider > .day {
  background-color: white;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
  position: absolute;
  text-transform: uppercase;
  top: -7px;
}

body > #content > #schedule > .event {
  display: flex;
  margin-bottom: 18px;
  padding: 0 18px;
}

body > #content > #schedule > .event:last-child {
  margin-bottom: 0;
}

body > #content > #schedule > .event > .time {
  flex: 3;
  font-size: 13px;
  font-weight: bold;
  padding: 4px 9px 0 0;
}

body > #content > #schedule > .event > .time > .piece {
  display: inline-block;
  text-align: right;
}

body > #content > #schedule > .event > .information {
  flex: 6;
  text-align: left;
}

body > #content > #schedule > .event > .information > .title {
  font-size: 18px;
  margin-bottom: 6px;
}

body > #content > #schedule > .event > .information > .details {
  color: #444;
  font-size: 15px;
}

/* The FAQ block style. */

body > #content > #faq > .information {
  text-align: left;
}

body > #content > #faq > .information > .question {
  font-weight: bold;
  margin: 27px 0 9px;
}

body > #content > #faq > .information > .answer {
  margin-bottom: 27px;
}

body > #content > #faq > .information a {
  color: #26a;
  text-decoration: none;
}

body > #content > #faq > .information a:active {
  background-color: #CCDEE5;
}

/* Support for mobile phones. */

@media only screen and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }

  body > #image,
  body > #clock > div {
    margin: 6vh 0 12vh;
    right: 0;
    height: 82vh;
    width: 100vw;
  }

  body > #names {
    font-size: 36px;
    transform: translateY(-100%);
    left: 8vh;
    top: 96vh;
    bottom: auto;
    height: auto;
  }

  body > #menu {
    background-color: white;
    border-bottom: 1px solid #CCDEE5;
    display: flex;
    font-size: 24px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }


  body > #menu > a {
    color: #222;
    display: inline-block;
    flex: 1;
    margin: 0;
    height: 6vh;
    line-height: 6vh;
    text-align: center;
  }

  body > #menu > a.active {
    background-color: #CCDEE5;
  }

  body > #menu > a > div {
    display: none;
  }

  body > #image,
  body > #clock > div {
  }

  body > #image {
    float: right;
    position: initial;
  }

  body > #content {
    box-shadow: none;
    height: auto;
    overflow: hidden;
    width: 100vw;
  }

  body > #content > div.block {
    padding: 9.6vw;
  }

  body > #content > #rsvp {
    height: 94vh;
  }

  body > #content > #rsvp > #rough-border {
    display: none;
  }

  body > #content > #rsvp > .portrait,
  body > #content > #location > .map-container > .map,
  body > #content > #location > .map-container > .map-shadow {
    height: 48vw;
    width: 72vw;
  }

  body > #content > #schedule > .event > .time {
    padding: 0 9px;
  }

  body > #content > #schedule > .event > .time {
    display: block;
    flex: 2;
    padding: 4px 18px 0 0;
  }

  body > #content > #schedule > .event > .time > .piece {
    display: block;
  }
}

@media not all and (max-width: 768px) {
  body > #menu > a:hover {
    background-color: #CCDEE5;
  }

  body > #content > #rsvp > .rsvp:hover {
    border: 1px solid #400;
    background-color: #A44;
  }

  body > #content > #location > .information > a:hover {
    background-color: #CCDEE5;
  }

  body > #content > #hotels > .information a:hover {
    background-color: #CCDEE5;
  }

  body > #content > #faq > .information a:hover {
    background-color: #CCDEE5;
  }
}
